<div class="mainContainer">
  <div class="optionsContainer">
    <select class="form-select" aria-label="">
      <option selected>類別</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <div class="totalContainer">
    <p class="fs-6">總金額</p>
    <p class="fs-1">{{totalAmount}}</p>
  </div>
  <div class="recordsContainer">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <i></i>
          <div class="fw-bold">Subheading</div>
          Content for list item
        </div>
        <span class="badge bg-primary rounded-pill">14</span>
        <div class="buttonsContainer d-grid gap-2 d-md-flex justify-content-md-end">
          <a class="btn" href="#" role="button">修改</a>
          <form action="" method="post">
            <button type="submit">刪除</button>
          </form>
        </div>
      </li>
      <div class="buttonContainer col-3 mx-auto">
        <a class="btn" href="#" role="button">新增支出</a>
      </div>
    </ul>
  </div>
</div>