.editTitle {
  position: relative;
  left: 170px;
  bottom: 20px;
  font-size: larger;
}

#asterTwo,
#asterThree {
  position: relative;
  top: 19px;
  left: 15px;
}

#nameEdit,
#dateEdit,
#categoryEdit,
#amountEdit {
  position: relative;
  left: 20px;
  bottom: 5px;
  font-size: larger;
}

#asterFour,
#asterFive {
  position: relative;
  top: 17px;
  left: 15px;
}

#inputName,
#inputDate,
#inputAmount {
  position: relative;
  left: 70px;
  width: 180px;
  height: 45px;
  border: 2px solid;
}

#inputCategory {
  position: relative;
  left: 70px;
  width: 180px;
  height: 45px;
  border: 2px solid;
}



#editButton {
  width: 180px;
  height: 45px;
  position: relative;
  top: 30px;
  left: 140px;
  border: 2px solid;
}

.mainContainer {
  position: relative;
  left: 800px;
}

.form-groupTwo,
.form-groupThree,
.form-groupFour {
  margin-top: 30px;
}