.addTitle {
  position: relative;
  left: 170px;
  bottom: 20px;
  font-size: larger;
}

#asterTwo,
#asterThree {
  position: relative;
  top: 19px;
  left: 15px;
}

#nameAdd,
#dateAdd,
#categoryAdd,
#amountAdd {
  position: relative;
  left: 20px;
  bottom: 5px;
  font-size: larger;
}

#asterFour,
#asterFive {
  position: relative;
  top: 17px;
  left: 15px;
}

#nameInput,
#dateInput,
#amountInput {
  position: relative;
  left: 70px;
  width: 180px;
  height: 45px;
  border: 2px solid;
}

#categoryInput {
  position: relative;
  left: 70px;
  width: 180px;
  height: 45px;
  border: 2px solid;
}

#addButton {
  position: relative;
  width: 180px;
  height: 45px;
  top: 30px;
  left: 140px;
  border: 2px solid;
}

.mainContainer {
  position: relative;
  left: 800px;
}

.form-group-two,
.form-group-three,
.form-group-four {
  margin-top: 30px;
}